.Header img{
    width: 10%;
    
}
h6{
    color: #39b11b;
    margin-left: 5%;
}
.Header{
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(45, 55, 64);
    color: white;
}
.Wrapper{
    background-color: rgb(45, 55, 64);
        /* margin-left: 10%;
        margin-right: 10%; */
}
.Nav{
    width: 90%;
    margin-left: 10%;
}
.Nav li{
    display: inline-block;
    margin-right: 2%;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

.Nav ul li a{
    text-decoration: none;
    color: white;
}
@media (min-width:800px){
    .Header img{
        width: 5%;
    }
    .Header {
        padding: 2%;
    }
}