.Wrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.1%;
}
.Image{
    width: 100%;
    height: 90vh;
    background-image:  url("/src/assets/Image1.webp");
    background-position: center;
    background-size: cover;

}