
.Header{
    background-color: rgb(45, 55, 64);
    height: 20vh;
    display: flex;
    align-items: center;
    color: #39b11b;
    position: relative;
    margin: 0 auto;
    width: 50%;
}
.Wrapper{
    background-color: rgb(45, 55, 64);
}
.Logo{
    width: 30%;
    height: 70%;
    background-image: url("../src/assets/drawing.svg");
    margin-left: 5%;
    background-position: center;
    background-size: cover;
}
.Header img{
    position: absolute;
    bottom: 10%;
    left: 87%;
}
.Info{
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
}
.Icon{
    display: flex;
    justify-content: center;
}
.FooterContent{
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(176, 172, 172);
    text-align: center;
    padding-bottom: 3%;
}
@media (min-width:800px) {

    .Wrapper{
        margin-left: 10%;
        margin-right: 10%;
    }
}