.Header{
    background-color: rgb(45, 55, 64);
    height: 20vh;
    display: flex;
    align-items: center;
    color: #39b11b;
    position: relative;
}
.Logo{
    width: 40%;
    height: 60%;
    background-image: url("../src/assets/drawing.svg");
    margin-left: 5%;
    background-position: center;
    background-size: cover;
}
.Header img{
    position: absolute;
    bottom: 10%;
    left: 87%;
}