#Item, #InnerItem{
    width: 99%;
    border: 1px solid rgb(45, 55, 64);;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
}

/* .InnerMenu{
    display: none;
    transition: all 0.5s ease-in-out;
    transform-origin: top;
}
.InnerMenu.Visible{
    display: block;
} */
.InnerMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.Show {
  max-height: 500px; /* big enough to fit content */
}
.Menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.Open {
  max-height: 500px; /* big enough */
}