.Divider{
    width: 50vw;
    height: 1vh;
    background-color: #39b11b;
    margin: 5% auto 0 auto;
}
.Icon1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
#Image1{
    width: 95vw;

}
.Image{
    position: relative;
}
#Text{
    position: absolute;
    top: 0;
    left: 0;
    color: #98d3a0;   /* opaque light gray */
    font-size: 3.5rem;
    position: absolute;
    opacity: 0.9;  

}
#Button{
    width: 40%;
    padding: 2%;
    margin: 2%;
    color: white;
    background-color: #39b11b;
    border-radius: 1.5rem;
    border: none;

}
.Contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    margin: 1%;
    padding: 0;
    color: white;
    background-color: #39b11b;
    border-radius: 0.7rem;
    border: none;
}