.Divider{
    width: 50vw;
    height: 1vh;
    background-color: #39b11b;
    margin: 5% auto 0 auto;
}
h2{
    text-align: center;
}
.Step1{
    display: flex;
    width: 95vw;
    flex-direction: row;
    border: 2px solid #39b11b;
    border-radius: 0.5rem;
    margin-bottom: 3%;

}
.Paragraph{
    width: 70%;
    justify-content: center;
    align-items: center;
}
.Icon{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}